.link-unstyled:visited,
.link-unstyled:hover,
.link-unstyled,
.link-unstyled:active,
.link-unstyled:focus,
.link-unstyled:active:hover {
  font-style: inherit;
  color: inherit;
  text-decoration: none;
  outline: inherit;
}
